In [27]:
# importing rhe pandas library
import pandas as pd
import numpy as np

In [28]:
# to check version of Panda
print(pd.__version__)

0.23.0

In [29]:
# Create a column list which will act a column for data frame
column_list = ['x', 'y', 'z', 8, 9]
column_list

['x', 'y', 'z', 8, 9]

In [30]:
# create a index List which will act as a index for the data frame.
index_list = ['a', 'b', 'c', 'd', 'e']
index_list

['a', 'b', 'c', 'd', 'e']

# How to create panda Frame.

In [31]:
# How to create panda Frame.
my_data_frame = pd.DataFrame(np.nan, index=index_list, columns=column_list)
my_data_frame

    x   y   z   8   9
a NaN NaN NaN NaN NaN
b NaN NaN NaN NaN NaN
c NaN NaN NaN NaN NaN
d NaN NaN NaN NaN NaN
e NaN NaN NaN NaN NaN


<br>
**<u><font color='blue'> TIPS and TRICKS <u></font>**
<br>
    
You need to print row from 1st to where ever you find row/index value "c". 
From columns , you need fto print last 2 columns .

In [32]:
# See the trick , we called iloc means we will specify index location.
# we started from 1 means skip the row no 0
# But we dont know index location of 'c'. 
# Hence we called my_data_frame.index.get_loc('c') + 1
my_data_frame.iloc[1:my_data_frame.index.get_loc('c') + 1, 2:4]

    z   8
b NaN NaN
c NaN NaN

# Removing Duplicates

<font color='blue'>
__Syntax: DataFrame.drop_duplicates(subset=None, keep=’first’, inplace=False)__
</font>
    
<font color='blue'>subset: </font>Subset takes a column or list of column label. It’s default value is none. After passing columns, it will consider them only for duplicates.

<font color='blue'>keep: </font>keep is to control how to consider duplicate value. It has only three distinct value and default is ‘first’.

<font color='blue'>If ‘first’, </font>it considers first value as unique and rest of the same values as duplicate.

<font color='blue'>If ‘last’,</font> it considers last value as unique and rest of the same values as duplicate.

<font color='blue'>If False, </font>it consider all of the same values as duplicates


<font color='blue'>inplace:</font> Boolean values, removes rows with duplicates if True.

<font color='blue'>Return type:</font> DataFrame with removed duplicate rows depending on Arguments passed.

In [33]:
Dict_A = {
	"A": ["foo", "foo", "foo", "bar"],
	"B": [0, 1, 1, 1],
	"C": ["2.2", "2.2", "3.1", "2.2"]
}

In [34]:
for key, value in Dict_A.items():
	print("Key {} ---> Value {}".format(key, value))

Key A ---> Value ['foo', 'foo', 'foo', 'bar']
Key B ---> Value [0, 1, 1, 1]
Key C ---> Value ['2.2', '2.2', '3.1', '2.2']

In [35]:
df = pd.DataFrame(Dict_A)
print(df)

     A  B    C
0  foo  0  2.2
1  foo  1  2.2
2  foo  1  3.1
3  bar  1  2.2

In [39]:
df.duplicated()

0    False
1    False
2    False
3    False
dtype: bool

In [40]:
df.duplicated(['A'])

0    False
1     True
2     True
3    False
dtype: bool

In [41]:
df.duplicated(['A', 'C'])

0    False
1     True
2    False
3    False
dtype: bool

In [36]:
# Drop all the records where Value column of A is repeated , example in above data Frame column A is repeated in record
# 1,2,3 so it should show only record 4
print(df.drop_duplicates(['A'], keep=False))

     A  B    C
3  bar  1  2.2

In [43]:
# Drop all the records where Value of column A and C  is repeated, example in above data Frame
# row 0 and row 1 , both have A = "f00" and C="2.2" . You need to drop them.
print(df.drop_duplicates(['A', 'C'], keep=False))

     A  B    C
2  foo  1  3.1
3  bar  1  2.2

In [ ]:
print(df.drop_duplicates(['A', 'C'], keep=False))

In [38]:
# Note - you can use inplace=True which will not give any output but instead it will replace the orignal data frame.